@font-face {
  font-family: "Retro";
  src: url(Police/RetroSans.ttf);
}

body {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  max-width: 1920px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 1.25rem;
  font-weight: bold;
  color: inherit;
}

a:hover {
  color: inherit;
}

p {
  font-size: 1.25rem;
  font-weight: bold;
}

/***************** HEADER *****************/

.size-header {
  width: 100%;
}

.font-navlink {
  color: #fff;
  padding: 1rem;
  font-size: 1.5rem;
}

.font-navlink:hover {
  color: #e918aa;
  transition: 0.2s ease-out;
}

.image-header {
  width: 250px;
  height: 100px;
  margin-bottom: 1rem;
}

.span-preview {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 30px;
  border-radius: 50%;
  background-color: #ffd700;
  color: #353535;
  text-align: center;
}

/***************** MAIN *****************/

/**** CAROUSEL PAGE INDEX ****/

.shadow {
  color: #fff;
  letter-spacing: 1rem;
  text-shadow: #000 3px 3px 3px;
}

.title-page {
  font-family: "Retro", sans-serif;
  border-top: 1px #000 solid;
  border-bottom: 1px #000 solid;
}

/****** RESPONSIVE PAGE PANIER ******/

@media (max-width: 390px) {
  .span-preview {
    margin-left: 2rem;
  }

  /**** RESPONSIVE TABLEAU MOBILE ****/

  .responsive-table-line td:before {
    content: attr(data-title);
  }

  .margin-card {
    margin-top: 2rem;
  }

  .responsive-table-line table,
  .responsive-table-line thead,
  .responsive-table-line tfoot,
  .responsive-table-line tbody,
  .responsive-table-line th,
  .responsive-table-line td,
  .responsive-table-line tr {
    display: block;
  }

  .responsive-table-line thead tr {
    display: none;
  }

  .responsive-table-line td {
    position: relative;
    border: 0px solid transparent;
    white-space: normal;
    text-align: right;
  }

  .responsive-table-line img {
    width: 500px;
    margin-left: 12rem;
  }

  .responsive-table-line td:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    padding-right: 15px;
    height: 100%;
    text-align: left;
    padding: 2px;
  }

  #clearBasket {
    margin: 0 4rem;
  }
}

/**** MAIN PAGE CONFIRMATION ****/

li {
  list-style: none;
}

/***************** FOOTER *****************/

.color {
  color: #fff;
}

.color:hover {
  color: #e918aa;
  transition: 0.2s ease-out;
}
